<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard App</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Leaderboard App</h1>
        <table id="leaderboard-table">
            <tr>
                <th>Name</th>
                <th>Score</th>
                {% comment %} <th>Age</th> {% endcomment %}
                {% comment %} <th>Address</th> {% endcomment %}
            </tr>
        </table>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>